<%- include('../../partials/head.ejs') %>

<div class="dashboarddd-main-sectionn-page-create-profile-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10">
                <div class="nodejs-blog-blog-project-bookmarks-hed-txtt">
                    <h4>Change My Password</h4>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="card card-body my-3">
                                <form action="/auth/change-password" method="POST">
                                    <div class="form-group">
                                        <label for="oldPassword">Enter Your Old Password</label>
                                        <input class="form-control" type="password" name="oldPassword" id="oldPassword">
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword">Enter Your New Password</label>
                                        <input class="form-control" type="password" name="newPassword" id="newPassword">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Confirm Password</label>
                                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                                    </div>
                                    <button class="btn btn-primary" type="submit">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>