<%- include('../../partials/head.ejs', {title: '404 Not Found'}) %>

<div class="signup-main-form-main-body-section-wrap mx-auto">
    <div class="container">
        <h2>404 Not Found</h2>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>