<%- include('../../partials/head.ejs', {title: 'Internal Server Error'}) %>

<div class="signup-main-form-main-body-section-wrap mx-auto">
    <div class="container">
        <h2>Internal Server Error</h2>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>