<div id="sidebar">
    <div class="node-blog-project-all-sidebar-section-main my-4">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/posts/create">Create Post</a></li>
            <li><a href="/posts">My Posts</a></li>
            <li><a href="/dashboard/bookmarks">Bookmarks</a></li>
            <li><a href="/dashboard/comments">Comments</a></li>
            <li><a href="/dashboard/edit-profile">Edit Profile</a></li>
            <li><a href="/dashboard/change-password">Change Password</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</div>