<%- include('../../partials/head.ejs') %>

<div class="dashboarddd-main-sectionn-page-main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-main-page-booxx text-center">
                    <h3>Edit Profile</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>